{{ style }}
<p>Hello {{ participant.name }}!</p>

<p>You just participated in the poll <b>{{ poll.title }}</b>!</p>
<p>To edit or delete your choices, you can view the poll online.</p>

<p>
    <a class="btn" href="{{ origin }}/poll/{{ poll._id }}/participate">
        View Poll
    </a>
</p>
