{{ style }}
<p>Hello {{ participant.name }}!</p>

<p>You have received a new message from Apollusia.</p>

<p>The poll has concluded:</p>

<div class="card">
    <h3>{{ poll.title }}</h3>
    {{#if poll.location}}
        <h4>Location: {{ poll.location }}</h4>
    {{/if}}
    {{#if poll.description}}
        <h4>Description:</h4>
        {{markdown poll.description}}
    {{/if}}
    <a class="btn" href="{{ origin }}/poll/{{ poll._id }}/participate">
        View Poll
    </a>
</div>

<p>The following appointments have been booked:</p>
<ul>
    {{#each appointments}}
        <li>{{this}}</li>
    {{/each}}
</ul>
<p>You have agreed to appointments marked with *.</p>
