{{ style }}
<p>Hello!</p>

<p>{{ participant.name }} just participated in your poll <b>{{ poll.title }}</b>!</p>

<a class="btn" href="{{ origin }}/poll/{{ poll._id }}/participate">
    View Poll
</a>
